<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onHelp()">
        <ion-icon slot="icon-only" name="help-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> £asy£xpenses </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/new-expense">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeMd="8" offsetMd="2">
        <ion-card class="ion-text-center" color="secondary">
          <ion-card-header>
            <ion-card-subtitle>Total to be claimed</ion-card-subtitle>
            <ion-card-title>{{ displaySum | currency: 'GBP'}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeMd="8" offsetMd="2">
        <div
          *ngIf="!expensesList || expensesList.length == 0"
          class="ion-text-center"
        >
          <ion-text> <h2>Please add a receipt</h2></ion-text>
        </div>
        <ion-list *ngIf="expensesList">
          <ion-item
            detail
            *ngFor="let expense of expensesList"
            [routerLink]='["/expense-detail", expense.id]'
          >
            <ion-thumbnail>
              <img [src]="expense.imageUrl" />
            </ion-thumbnail>
            <ion-label class="ion-float-left ion-padding-start">
              <p>{{ expense.type }}</p>
              <p>{{ expense.place }}</p>
              <p>{{ expense.timestamp | date: 'd/M/yy HH:mm:ss' }}</p>
            </ion-label>
            <ion-label class="ion-float-right">
              <h1>{{ expense.amount | currency: 'GBP' }}</h1>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
